<header>
  <div class="logo">
    <section class="layout">
      
    </section><!-- layout -->
  </div><!-- logo -->

  <div class="user-panel">
    <section class="layout">
      
    </section><!-- layout -->
  </div><!-- user-panel -->
</header>