  <div class="search">
    <section class="layout" align="center">
    <div style="width:400px; margin-right:auto; margin-left:auto; border:none;">
    <form action="search">
    	<input type="text" name="tag"/>
    </form>
	</div>
  </section><!-- layout -->
  </div><!-- search -->