  <div class="search">
    <section class="layout">
    <h2>Reviews</h2>
    <br/>
	<ul>
       <% results.forEach(function(reviewNode) { %>
        <li><%= reviewNode.review %> - <%= reviewNode.userID %></li>
    <% }); %>
    <ul>
       
    </section><!-- layout -->
  </div><!-- search -->